.banner {
  animation: slider 40s infinite;
}

@keyframes slider {
  0% {
    background-image: url("../public/salon3.jpg");
  }
  33% {
    background-image: url("../public/salon2.jpg");
  }
  66% {
    background-image: url("../public/salon4.jpg");
  }
  100% {
    background-image: url("../public/salon5.jpg");
  }
}

.service:hover .service-label {
  height: 100%;
  font-size: 30px;
}
